################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
.vs/
.DS_Store
Thumbs.db
/mariadb
/data
.idea/
source/php/.env
source/node_modules
source/php/vendor
source/php/composer.json
source/php/composer.lock
